.calculator-wrapper {

  height: 500px;
  margin-top: 75px;
  padding: 0;
}

.calculator {

  border: 2px solid black;
  border-radius: 18px;
  height: 460px;

  background-color: green;

  .inside {

    height: 100%;
    padding: 20px;

    border: 1px solid black;
    border-radius: 18px;
  }
}

#lcd-display { 

  width: 92.25%;
  margin-left: 3.75%;
  height: 60px;

  border-radius: 12px;
  @include display-background();

  border: 3px solid black;

  font-family: "Digital";
  font-size: 4.3em;
  line-height: 1px;
  text-align: right;
  padding: 0 8px;
}

.buttons { 

  padding: 5px;


  &.primary, &.side {
    height: 300px;
    padding-top: 15px;
  }

  &.function {
    height: 40px;
    margin-top: 20px;

    .button {

      height: 29px;
      margin-left: 15px;
    }
  }

  &.primary {

    padding-left: 0px;

    .button {

      margin: 0 16px 16px 0;
    }
  }

  &.side {

    .button { 

      margin: 0 0 15px 0;
    }
  }

  .button {

    width: 45px;
    height: 45px;
    border-radius: 5px;
  }
}